.postit {
    margin:20px;
    width:170px;
    height:150px;
    padding:25px 15px;
    background: #fefabc linear-gradient(150deg, #efec88 0%, #fefabc 100%);
    border: 1px solid #cccccc;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
  }

  .postit h2 {
      color: #5e2028;
  }

  .postit h2, .postit p {
    font-family: 'DPDorkDiary', cursive;
    font-size: 1.4em;
    text-align:center;
    margin: 0.5em 0 0;
    line-height:1em;
    font-weight:bold;
  }
  
  .postit p {
    font-size:1.1em;
    margin: 0.5em 0;
  }

  .form-control {
    width: 30%;
  }
  body {
    margin-left: 10%;
    margin-right: 10%;
  }

  .form-inline label {
    margin-right: 3px;
    margin-left: 3px;
  }
  .btn-margin {
    margin-right: 5px;
  }

  body.bg {
    background-image: url("../img/board_background.jpg");
    /* Full height */
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }